/* Variables */
:root{
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --very-light-grayish-blue: hsl(224, 65%, 95%);
  --light-grayish-Red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
  --bg-clr: var(--very-pale-blue);
  --text-clr: var(--grayish-blue);
  --header-clr: var(--dark-desaturated-blue);
  --price-clr: var(--dark-desaturated-blue);
  --toggle-btn-bg-clr: var(--light-grayish-blue);
  --discount-bg-clr: var(--light-grayish-Red);
  --discount-text-clr: var(--light-red);
  --cta-bg-clr: var(--dark-desaturated-blue);
  --cta-text-clr: var(--pale-blue);
  /* Font Size */
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-800: 800;
  --fs-header: var(--fs-400);
  --fw-header: var(--fw-800);
  --fs-body: var(--fs-300);
  --fs-price: var(--fs-600);
  --fw-price: var(--fw-800);
}
@media (min-width:50em){
  :root{
    --fs-header: var(--fs-500);
    --fs-price: var(--fs-700);
  }
}
/* Css Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit; 
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
line-height: 1.5;
text-rendering: optimizeSpeed;
-webkit-font-smoothing: antialiased;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }  
/* Utilities */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.main-header {
  font-size: var(--fs-header);
  color: var(--header-clr);
  font-weight: var(--fw-header);
}
.price-design {
  font-size: var(--fs-price);
  color: var(--price-clr);
  font-weight: var(--fw-price);
  margin-right: 15px;
}
.cta-button {
  background-color: var(--cta-bg-clr);
  color: var(--cta-text-clr);
}
.container {
  --max-width: 540px;
  --padding: 1.5rem;
  width: min(var(--max-width), 100% - (var(--padding)*2));
  margin-inline: auto;
  text-align: center;
}
/* General Styling */
body{
  font-family: 'Manrope', sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-600);
  color: var(--text-clr);
  background: hsl(230, 100%, 99%) url("../images/bg-pattern.svg") no-repeat top left;
  background-size: auto 450px; 
}
.header-sec {
  margin-top: 57px;
  padding: 32px 0px 36px 0px;
  background: url("../images/pattern-circles.svg") no-repeat top center;
  background-size: 145px 144px;
}
.header-content {
  margin-top: 10px;
}
.line-break {
  display: block;
}
.component {
  background-color: var(--white);
  border-radius: 1rem;
  margin-top: 32px;
  padding-top: 38px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.page-pricing {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 0px 24px 44px;
}
.page-view {
  font-weight: var(--fw-800);
  order: 0;
}
.slider {
  margin-top: 28px;
  order: 1;
}
#slider-input {
  width: 100%;
}
/* Custom Slider */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
/* Styles the thumb of the slider */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 24px;
  background: #10D5C2 url("../images/icon-slider.svg") no-repeat center center; 
  cursor: pointer;
  margin-top: -16px;
  box-shadow: 0px 15px 20px 4px #A5F3EB;
  transition: all 0.1s linear;
}
input[type=range]::-moz-range-thumb {
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 24px;
  background: #10D5C2 url("../images/icon-slider.svg") no-repeat center center; 
  cursor: pointer;
  box-shadow: 0px 15px 20px 4px #A5F3EB;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: #A5F3EB;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #23AEA1;
}
#slider-shadow {
  width: calc(50% - 20px);
  height: 8px;
  border-radius: 10px 0px 0px 10px;
  background-color: #A5F3EB;
  transform: translateY(-14px);
  pointer-events: none
}
/* Style of the Slider track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: #EAEEFB;
  border-radius: 10px;
  border: 0.2px solid #EAEEFB;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]:focus-visible {
  outline: 2px solid #23AEA1;
  border-radius: 10px;
}
.pricing {
  margin-top: 34px;
  order: 2;
}
.pricing p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-sec {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  order: 3;
}
/* Discount Toggle button */
input[type="checkbox"].discount-tgl {
  opacity: 0;
}
input[type="checkbox"].discount-tgl + label{
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 10px;
}
input[type="checkbox"].discount-tgl + label::before {
  content: "";
  width: 44px;
  height: 20px;
  background-color: var(--toggle-btn-bg-clr);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s linear;
}
input[type="checkbox"].discount-tgl + label::after {
  position: absolute;
  left: 4px;
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}
input[type="checkbox"].discount-tgl + label:hover::before {
  background-color: var(--soft-cyan);
}
input[type="checkbox"].discount-tgl:checked + label::before{
  background-color: var(--soft-cyan);
}
input[type="checkbox"].discount-tgl:checked + label::after{
  transform: translateX(150%);
}
input[type="checkbox"].discount-tgl + label:focus-visible {
  outline: 2px solid #23AEA1;
  border-radius: 16px;
}
.discount-amount-sec{
  position: relative;
}
.discount-amount {
  position: absolute;
  transform: translate(-185%, -37px);
  margin-left: 10px;
  padding: 0px 5px;
  width: fit-content;
  height: 20px;
  background-color: var(--discount-bg-clr);
  color: var(--discount-text-clr);
  border-radius: 12px;
  border: none;
  font-size: 0.65rem;
  font-weight: var(--fw-800);
}
.discount-amount::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--discount-bg-clr) transparent transparent transparent;
}
.discount-text {
  display: none;
}
.start-trial-sec {
  padding: 28px 24px 38px;
}
.utilities-sec > * + * {
  margin-top: 20px;
}
.utilities {
  display: flex;
  justify-content: center;
  align-items: center;
}
.utilities p {
  margin-left: 16px;
}
.cta-sec {
  margin-top: 32px;
}
.cta-button {
  width: 170px;
  height: 41px;
  border-radius: 20px;
  background-color: var(--cta-bg-clr);
  color: var(--cta-text-clr);
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.cta-button:hover {
  color: var(--white);
}
.cta-button:focus-visible {
  outline: 2px solid #23AEA1;
}
@media (min-width: 31em){
  input[type="checkbox"].discount-tgl + label{
    margin: 0px 14px;
  }
  .discount-amount-sec{
    position: static;
  }
  .discount-amount {
    position: static;
    transform: none;
  }
  .discount-amount::after {
    content: none;
    position: static;
  }
}
@media (min-width:50em){
  .page-view, .pricing, .slider, .discount-sec {
    order: 0;
  }
  .line-break {
    display: inline;
  } 
  .page-pricing {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 48px 44px;
    align-content: center;
  }
  .pricing {
    margin: 0px;
  }
  .page-view, .pricing {
    width: 50%;
  }
  .slider, .discount-sec{
    width: 100%;
  }
  .page-view {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
  .discount-text {
    display: inline;
  }
  .start-trial-sec {
    padding: 28px 48px 38px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .utilities {
    justify-content: flex-start;
  }
  .utilities-sec > * + * {
    margin-top: 12px;
  }
  .cta-sec{
    margin-top: 0px;
  }
}
@media (min-width:1440px) {
  body {
    background-size: 100% 450px;
  }
}